**/.classpath
**/.devlinks
**/.gradle
**/.idea
**/.project
**/.settings
**/.DS_Store
**/*.log
**/archive-reports
**/bin
**/build
**/ext-libs
**/ext-scripts
**/generated
**/include
**/lib
**/logs
**/out
**/solr-[0-9.]*/
**/tmp
**/venv
