**/.classpath
**/.devlinks
**/.gradle
**/.idea
**/.project
**/.settings
**/.DS_Store
**/*.log
**/archive-reports
**/bin
**/build
**/data/generated
**/docs/generated
**/ext-libs
**/ext-scripts
**/include
**/lib
**/logs
**/out
**/solr-[0-9.]*/
**/tmp
**/venv
